:root {
	--background-image-height: 55vh;
	--scroll: 0%;
}

body {
	background-color: rgb(228, 228, 229);
	font-family: Arial, Helvetica, sans-serif;
}

#progress {
    background: linear-gradient(to right, yellow, var(--scroll), transparent 0);
	position: fixed;
	width: 100%;
	height: 4px;
	z-index: 3;
	box-sizing: border-box;
}

/* background image */
#cover {
    width: 100vw;
    height: var(--background-image-height);
    position: relative;
}

#cover:after {
    position: absolute;
    content: '';
    width: 100vw;
    height: var(--background-image-height);
    top: 0;
    left: 0;
    box-shadow: 0 -20px 200px 10px rgb(228, 228, 229) inset;
}

#background-image {
	width: 100vw;
	height: var(--background-image-height);
	display: block;
}

/* profile section */
header {
	font-family: Helvetica;
}

#profile-image {
	width: 15%;
	height: 15%;
	border-radius:50%;
	border: solid rgb(240, 177, 126);
	border-width: 2px;
}

#profile-image:hover {
	width: 23%;
	height: 23%;
	border-radius:0%;
	border-radius:10%;
	border: none;
}

#profile {
	position: relative;
	top: -65px;
	margin: 0 auto;
	width: 90%;
	text-align: center;
	justify-content: center;
}

#profile h1 {
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: Impact, Helvetica;
	text-shadow: 3px 0 3px orange;
}

/* footer */
footer {
	display: block;
	width: 99%;
	background: linear-gradient(rgb(228, 228, 229), MistyRose);
	margin-top: 5%;
	padding: 1%;
	font-family: Copperplate, Helvetica;
}

footer h3 {
	font-family: Arial, Helvetica, sans-serif;
}

footer > div {
	text-align: center;
	justify-content: center;
	align-items: center;
}

.left-column {
	float: left;
	width: 33.33%;
	padding-left: 10%;
	text-align: left;
	position: relative;
}

.mid-column {
	float: left;
	width: 33.33%;
	padding-left: 12%;
	text-align: left;
	position: relative;
}

.right-column {
	float: left;
	width: 33.33%;
	justify-content: center;
}

.right-column div {
	height: 50%;
	padding-top: 1%;
}
  
 /* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

#favicon-image{
	width: 18%;
}

#hit-counter {
	width: 20%;
}

/* List */
footer li {
	list-style-type: square;
}

/* Link */
li a:link { 
	color: blue;
	text-decoration: none;
}

li a:visited {
	color: brown;	
}

li a:hover { 
	color: blueviolet;
	font-weight: bold;
	text-decoration: underline;
}

h3 a:link { 
	color: Sienna;
	text-decoration: none;
}

h3 a:visited { 
	color: SaddleBrown;
	text-decoration: none;
}

h3 a:hover { 
	color: blueviolet;
	font-weight: bold;
	font-style: italic;
}

/* Main Content */
#content{
	display: flex;
	margin: -2% 6% 0 2%;
	width: 92%;
}

#fun-video div {
	width: 90%;
	height: 300px;
}

#meme {
	width: 100%;
	height: 100%;
}

section {
	font-size: 16px;
	display: block;
	margin: 1%;
	width: 98%;
	text-align: center;
	justify-content: center;
	align-items: center;	
}

section div {
	text-align: left;
	padding:2%;
}

section h2 {
	background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(248, 148, 6, 1));
}

#project h3 {
	font-size: 20px;
}

#project li {
	font-size: 16px;
	margin-top: 2px;
}

/* side bar */
#sidenav-active {
	display: block;
	position: fixed;
	top: 33%;
	right: 0;
	width: 5%;
	background: MistyRose;
	margin: 1%;
	border-radius: 5%;
	opacity: 1;
    transition: height 0ms 0ms, opacity 1s 0ms;
}

#sidenav-inactive {
	display: block;
	position: fixed;
	top: 33%;
	right: 0;
	width: 5%;
	background: MistyRose;
	margin: 1%;
	border-radius: 5%;
	overflow: hidden;
    opacity: 0;
    transition: height 0ms 1s, opacity 1s 0ms;
}

.button {
	display: block;
	font-size: 33px;
	cursor: pointer;
	align-self: center;
	margin: 10% auto;
	background-color: transparent;
}


