:root {
	--background-image-width: 100vw;
	--background-image-height: 55vh;
	--scroll: 0%;
	--font-size: 1vw;
}

.light-theme {
	--primary-color: #FFE5D9;
	--secondary-color: #8a549f;
	--background-primary: #F5E6E8;
	--background-secondary: #D5C6E0;
	--text-primary: #192A51;
	--text-secondary: #217ad9;
	--link-li-primary: var(--secondary-color);
	--link-li-hover: var(--text-secondary);
	--link-li-visited: var(--secondary-color);
	--link-h3-primary: var(--text-secondary);
	--link-h3-hover: var(--text-secondary);
	--link-h3-visited: var(--secondary-color);
	--scroll-color: orange;
	--sidebar-color: var(--text-primary);
	--snackbar-primary: white;
	--snackbar-secondary: black;
	--gradient-primary: var(--secondary-color);
	--gradient-secondary:  var(--background-primary);
}

.dark-theme {
	--primary-color: #1B1B1E;
	--secondary-color: #58A4B0;
	--background-primary: #373F51;
	--background-secondary: #1B1B1E;
	--text-primary: #D8DBE2;
	--text-secondary: #217ad9;
	--link-li-primary: var(--secondary-color);
	--link-li-hover: var(--text-secondary);
	--link-li-visited: var(--secondary-color);
	--link-h3-primary: var(--text-secondary);
	--link-h3-hover: var(--text-secondary);
	--link-h3-visited: var(--secondary-color);
	--scroll-color: orange;
	--sidebar-color: var(--text-primary);
	--snackbar-primary: white;
	--snackbar-secondary: black;
	--gradient-primary: var(--secondary-color);
	--gradient-secondary:  var(--background-primary);
}

body {
	background-color: var(--background-primary);
	color: var(--text-primary);
	font-family: Arial, Helvetica, sans-serif;
	font-size: calc(var(--font-size) * 1.5);
}

#progress {
    background: linear-gradient(to right, var(--scroll-color), var(--scroll), transparent 0);
	position: fixed;
	width: 100%;
	height: calc(var(--font-size) * 0.4);
	z-index: 2;
	box-sizing: border-box;
}

/* background image */
#cover {
    width: var(--background-image-width);
    height: var(--background-image-height);
    position: relative;
}

#cover:after {
    position: absolute;
    content: '';
    width: var(--background-image-width);
    height: var(--background-image-height);
    top: 0;
    left: 0;
    box-shadow: 0 -20px 200px 10px rgb(228, 228, 229) inset;
}

#background-image {
	width: var(--background-image-width);
	height: var(--background-image-height);
	display: block;
}

/* profile section */
header {
	font-family: Helvetica, sans-serif;
	font-size: calc(var(--font-size) * 1.25);
}

#profile-img {
	width: 20%;
	height: 20%;
	border-radius: 50%;
	border: solid var(--text-primary);
	border-width: 3%;
}

#profile-img:hover {
	width: 22.5%;
	height: 22.5%;
	border-radius:0%;
	border-radius:10%;
	border: none;
}

#profile-img:hover + h1 {
	font-size: calc(var(--font-size) * 3);
}

#profile-img:hover ~ #intro {
	font-size: calc(var(--font-size) * 2.5);
}

#profile {
	position: relative;
	top: -15vh;
	margin: 0 auto;
	width: 90%;
	text-align: center;
	justify-content: center;
}

#profile h1 {
	margin-top: 1%;
	margin-bottom: 1%;
	font-family: Impact, Helvetica;
}

#profile p {
	text-shadow: none;
}

/* footer */
footer {
	display: flex;
	flex-direction: row;
	width: 100%;
	background: linear-gradient(var(--background-primary), var(--background-secondary));
	margin-top: 5%;
	font-family: Copperplate, Helvetica;
	padding: 1%;
}

footer h3 {
	font-family: Arial, Helvetica, sans-serif;
	color: var(--secondary-color)
}

.left-column {
	flex: 5;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.mid-column {
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.right-column {
	flex: 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	font-size: smaller;
	text-align: center;
}
  
 /* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

#favicon-img {
	width: 20%;
}

/* List */
footer li {
	list-style-type: square;
}

/* Link */
li a:link { 
	color: var(--link-li-primary);
	text-decoration: none;
}

li a:visited {
	color: var(--link-li-visited);	
}

li a:hover { 
	color: var(--link-li-hover);
	text-decoration: underline;
}

h3 a:link { 
	color: var(--link-h3-primary);
	text-decoration: none;
}

h3 a:visited { 
	color: var(--link-h3-visited);
	text-decoration: none;
}

h3 a:hover { 
	color: var(--link-h3-hover);
	font-weight: bold;
	font-style: italic;
}

/* Main Content */
#content{
	display: flex;
	flex-direction: row;
	margin: -5% 0;
	padding: 0 5%;
}

#left-content {
	flex: 4;
}

#right-content {
	flex: 5;
}

#fun-video div {
	width: 90%;
	height: 300%;
}

#meme-img {
	width: 100%;
	height: 100%;
}

hr {
	width: 92.5%;
	height: 0.25vh;
	background-color: var(--secondary-color)
}

footer hr {
	display: none;
}

section {
	display: block;
	margin: 1%;
	width: 98%;
	text-align: center;
	justify-content: center;
	align-items: center;	
}

section div {
	text-align: left;
	padding: 2%;
}

section h2 {
	-webkit-border-radius: calc(var(--font-size) * 10);
  	-moz-border-radius: calc(var(--font-size) * 3);
  	border-radius: 50px;
	background-image: linear-gradient(to right, var(--gradient-primary), var(--gradient-secondary));
}

section li {
	margin: 0.5% auto;
}

#programming span {
	display: none;
}

#programming li:hover {
	background-image: linear-gradient(to left, rgba(255,0,0,0), var(--secondary-color));
	font-size: larger;
}

#programming li:hover + span  {
	display: block;
	font-style: italic;
}

#project li {
	margin-top: 1%;
}

.favicon {
	display: inline-block;
	position: relative;
	top: calc(var(--font-size) * 0.5);
	left: 1%;
	width: 5%;
	height: 5%; 
}

.favicon-img {
	width: 100%;
	height: 100%;
}

/* side bar */
#sidenav-active {
	display: block;
	position: fixed;
	top: 40%;
	right: 0;
	width: 5%;
	background: var(--sidebar-color);
	margin: 1%;
	border-radius: 5%;
	opacity: 1;
	z-index: 3;
    transition: height 0ms 0ms, opacity 1s 0ms;
}

#sidenav-inactive {
	display: block;
	position: fixed;
	top: 40%;
	right: 0;
	width: 0;
	background: var(--sidebar-color);
	margin: 1%;
	border-radius: 5%;
	overflow: hidden;
    opacity: 0;
    transition: height 0ms 1s, opacity 100ms 0ms;
}

.button {
	display: block;
	font-size: calc(var(--font-size) * 2.5);
	cursor: pointer;
	align-self: center;
	margin: 10% auto;
	color: var(--primary-color);
	background-color: transparent;
}

/* snackbar */ 
#snackbar-1 {
	visibility: hidden;
	min-width: 25%;
	background-color: var(--snackbar-primary);
	color: var(--snackbar-secondary);
	text-align: center;
	border-radius: 5%;
	padding: 2.5%;
	position: fixed;
	z-index: 1;
	left: 37.5%;
	bottom: 2.5%;
	font-size: calc(var(--font-size) * 2);
}

#snackbar-1.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar-2 {
	visibility: hidden;
	min-width: 25%;
	background-color: var(--snackbar-primary);
	color: var(--snackbar-secondary);
	text-align: center;
	border-radius: 5%;
	padding: 2.5%;
	position: fixed;
	z-index: 1;
	left: 37.5%;
	bottom: 2.5%;
	font-size: calc(var(--font-size) * 2);
}

#snackbar-2.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 2.5%; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 2.5%; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 2.5%; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 2.5%; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

/* Mobile & Tablet */
@media screen and (max-width: 1279px) {
	:root {
		--background-image-width: 100vw;
		--background-image-height: 25vh;
		--font-size: 1.25vh;
	}

	#profile-img {
		width: 20vh;
		height: 20vh;
	}
	
	#profile h1 {
		font-size: calc(var(--font-size) * 2);
	}
	
	#profile p {
		font-size: calc(var(--font-size) * 1.5);
	}

	#detail br {
		display: none;
	}

	#profile {
		top: -10vh;
	}
	
	#content{
		flex-direction: column;
		margin: -10% 0;
	}

	footer {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-top: 10%;
	}

	footer div {
		margin: 1% 0;
	}

	.mid-column {
		align-items: center;
		justify-content: center;
	}

	.right-column {
		justify-content: center;
	}

	footer hr {
		display: block;
		position: relative;
		width: 80%;
		left: 10%;
		background-color: var(--text-primary)
	}

	#fun-video div {
		display: none;
	}

	#programming span {
		display: block;
	}

	/* snackbar */ 
	#snackbar-1 {
		right: 2.5%;
		bottom: 2.5%;
		font-size: calc(var(--font-size) * 1.25);
	}

	#snackbar-2 {
		right: 2.5%;
		bottom: 2.5%;
		font-size: calc(var(--font-size) * 1.25);
	}
}

/* Mobile & Tablet */
@media screen and (max-width: 375px) {
	:root {
		--background-image-height: 30vh;
	}

	#profile-img {
		width: 25vh;
		height: 25vh;
	}

	#content{
		margin: -20% 0;
	}

	footer {
		margin-top: 20%;
	}

	#sidenav-active {
		display: flex;
		flex-direction: row;
		position: fixed;
		top: calc(var(--font-size) * 0.4);
		height: 5vh;
		width: 100vw;
		margin: 0;
		padding: 0;
		border-radius: 0;
	}
}