body {
	background-color: rgb(228, 228, 229);
}

/* background image */
.cover {
    width: 100vw;
    height: 60vh;
    position: relative;
}

.cover:after {
    position: absolute;
    content: '';
    width: 100vw;
    height: 60vh;
    top: 0;
    left: 0;
    box-shadow: 0 -20px 200px 10px rgb(228, 228, 229) inset;
}

#background-image {
	width: 100vw;
	height: 60vh;
	display: block;
}

/* profile section */
#profile-image {
	width: 120px;
	height: 120px;
	border-radius:75px;
}

#profile {
	position: relative;
	top: -50px;
	margin: 0 auto;
	width: 30%;
	text-align: center;
	justify-content: center;
}

#profile h1 {
	margin-top: 10px;
	margin-bottom: 10px;
}

/* footer */
footer {
	column-count: 2;
	background: linear-gradient(rgb(228, 228, 229), rgb(137, 140, 150));
}

footer div {
	text-align: center;
}

#footer-content {
	text-align: left;
	position: relative;
	left: 35%;
}

